*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: baseline;
    gap: 0.5vh;
    width: 85vw;
    padding: 3vw;
    border: #0D1544 solid 2px;
    border-radius: 20px;
    background-color: rgba(7, 143, 200, 0.15);
}

.boxTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
}

.title{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    color: #0D1544;
}

.titleInterative{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    color: #0D1544;
}
.titleInterative:hover{
    cursor: pointer;
}

.check{
    margin-top: -0.6vh;
    height: 2.5vh;
}

.message{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #078FC8; 
}

.boxButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.bold{
    font-weight: bold;
}

.link{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    color: #078FC8; 
    text-decoration: none;
}
.link:hover{
    cursor: pointer;
    color: #0D1544;
    transition: 4ms;
}

@media (min-width: 700px){
    .title{
        font-size: 30px;
    }
    .titleInterative{
        font-size: 30px;
    }
    .message{
        font-size: 25px;
    }
    .link{
        font-size: 25px;
    }
    .check{
        height: 3vh;
    }
}

@media (min-width: 1000px){
    .box{
        width: 55vw;
        padding: 2vw;
    }
    .boxButton{
        width: 30vw;
    }
    .boxTop{
        width: 50vw;
    }
    .check{
        height: 4vh;
        margin-top: -1.5vh;
    }
}